.flight-list {
  padding: 0 24px;
  header {
    margin-bottom: 32px;
    i {
      font-size: 2em;
      margin-right: 16px;
    }
    span {
      display: inline-block;
      margin: 16px 16px 0 0;
    }
  }
}
