<div class="flight-list">
  <template v-if="displayList.length">
    <header class="d-flex">
      <i class="fas fa-plane"></i>
      <div class="details">
        <h2>
          {{origin}} to {{destination}}
        </h2>
        <span class="font-small font-color-sec">
          {{displayList.length}} flights found
        </span>
        <span class="font-small font-color-sec">
          {{day}}
        </span>
        <span v-if="Number(priceCap)" class="font-small font-color-sec">
          Price filter: ₹ 0 - {{priceCap}}
        </span>
      </div>
    </header>
    <template v-for="flight in displayList">
      <flight-card :data="flight"></flight-card>
    </template>
  </template>
</div>
