.flight-card {
  width: 100%;
  border-radius: 6px;
  padding: 16px 24px;
  background-color: @white;
  box-shadow: 0 0 6px 0 @shadow-color;
  margin-bottom: 24px;
  .multiple-flights,
  .flight {
    width: 100%;
    .journey-details {
      flex: 1;
      .duration {
        width: 60%;
        margin-right: 24px;
        & > div {
          flex: 1;
          & > p {
            text-align: center;
          }
        }
        .et {
          position: relative;
          > span {
            width: 50%;
            display: inline-block;
            border-bottom: 1px solid @text-color-secondary;
            height: 0;
            i {
              position: absolute;
              left: 50%;
              transform: translate(-50%, calc(-50% + 1px));
            }
          }
        }
      }
      .booking {
        width: 40%;
        p,
        button {
          flex: 1;
        }
      }
    }
    .flight-details {
      margin-right: 24px;
      .connecting-logo {
        height: 52px;
        width: 52px;
        margin: 12px;
        display: flex;
        flex-direction: column;
        i {
          transform: rotate(-45deg);
          font-size: 24px;
          &:first-child {
            margin-left: 12px;
          }
        }
      }
      .logo {
        // Only for mocking logos
        background-image: url('https://flight.easemytrip.com/Content/img/split-img.png');
        background-position: var(--logo-position);
        background-repeat: no-repeat;
        height: 52px;
        width: 58px;
        margin: 12px;
      }
    }
  }
  .multiple-flights {
    .flight {
      background-color: @gray;
      .separator {
        width: 100%;
        text-align: center;
        p {
          padding: 4px;
          border: 1px dashed @text-color-secondary;
        }
      }
    }
  }
  @media screen and (max-width: @mobile-max-width) {
    .multiple-flights {
      .summary {
        flex-direction: column;
        .flight-details {
          margin: 0;
          .connecting-text {
            flex: 1;
          }
        }
      }
    }
    .multiple-flights,
    .flight {
      flex-direction: column;
      .journey-details {
        flex-direction: column;
        .duration,
        .booking {
          width: 100%;
        }
        .duration {
          .start {
            p {
              text-align: left;
            }
          }
          .end {
            p {
              text-align: right;
            }
          }
        }
      }
      .flight-details {
        .logo {
          margin: 12px 12px 0 -12px;
        }
      }
    }
    .multiple-flights {
      .flight-details {
        .logo {
          margin: 12px 12px 0 0;
        }
      }
    }
  }
}
